body{
  
    background-image: linear-gradient(#BE93C5,#7bc6cc );
    
    
}
h1{
    text-align: center;
   background-image: linear-gradient(black,rgb(69, 69, 100),black);
    color :white;
}
#gawsan{
    
    height: 285px;
 background-image: linear-gradient(#2C3E50,#4CA1AF);
    
}

#gawsan h1{
  margin-inline-end: 100px;
  margin-inline-start: 100px;
  border:10px solid linear-gradient(#2C3E50,#4CA1AF);;
  border-radius: 10px;
}




section{
    display:flex;
    text-align: justify;
}
.Iwt{
    
    width: 300px;
    height:150px;
    border:8px solid linear-gradient(#f7ff00,#db36a4);
    border-radius: 10px;
    
    color:whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(82, 178, 190);

    
}
.spm,.isdm{
    width: 300px;
    height:150px;
    border: 8px solid rgba(0, 0, 0, 0.59);
    margin-inline-start: 5px;
    background-image: linear-gradient(rgb(36, 158, 148),rgba(9, 9, 17, 0));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color:white;
    font-weight: bolder;
    
}
.spm i{
    padding-block-start: 10px;
    margin-left: 5%;
}
.Iwt i{
    padding-block-start: 10px;
    margin-left: 5%;
}
.isdm{
    background-color: rgba(184, 107, 118, 0.849);
}
.isdm i{
    padding-block-start: 10px;
    margin-left: 5%;
}
a:hover{
   color: yellow;
}
footer
{
    background-color: black;
    
    color:rgba(138, 134, 134, 0.842);
    max-height: 0%;
}

   
footer > p{
    text-align: center;
    font-weight: bolder;
   padding-top: 10px;
}
.social {
   text-align: center;
   color:rgba(134, 115, 115, 0.842);
  
}
.social a {
   padding-inline: 10px;
   
 }

.social a :hover{
    color: whitesmoke;
}
    
.top{
  
    margin-top: 8%;
    
    text-align: justify;
    
    
}
.top a{
    font-size: large;
    color: thistle;
}
.top a:hover
{
   color:red;
   
}
footer{
    padding-top: 8px;
}
@media only screen and (max-width: 500px) {
    .isdm,.Iwt,.social,.spm {
     font-size: 8px;
     height:80px ;
    }

    .top{
         font-size: 5px;
      
    }
    footer{
        font-size: 10px;
    }
  
      
      
    
  
